@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base text-textPrimary font-sans;
  }
  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .shimmer {
    background: linear-gradient(
      90deg,
      #1A1A1F 25%,
      #252530 50%,
      #1A1A1F 75%
    );
    background-size: 800px 100%;
    animation: shimmer 1.6s infinite linear;
  }
}
